<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path("home") }}">CarPark</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("home") }}">Home</a>
            </li>
            {% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("car.index") }}">Cars</a>
            </li>
            {% endif %}

            {% if is_granted("ROLE_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("admin.car.index") }}">Admin</a>
            </li>
            {% endif %}

            {% if not app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("register") }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("login") }}">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("logout") }}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>