{% extends 'base.html.twig' %}

{% block title %}Administration editing!{% endblock %}


{% block h1 %} Administration Editing: {{ car.immatriculation }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            <img src="{{ asset("images/" ~ car.carModel.image) }}" style="width: 25%" alt="">
{#            <div>{{ form_row(form.imageFile) }}</div>#}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary rounded-pill" value="Edit">
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
